.layoutContent {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1200px;
}

.wraper {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
}

.contentInner {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px 16px;
}