.header {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color-base);

    .avatar {
        display: flex;
        align-items: center;

        & > div {
            margin-left: 10px;
            font-size: 12px; 
        }
    }

    .left {
        display: flex;
        align-items: center;

        .logo {
            width: 188px;
            height: 50px;
            box-sizing: border-box;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 32px;
                height: 32px;
                margin-right: 12px;
            }
        }

        .accountDate {
            margin-left: 12px;
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 20px;
            color: var(--text-color);
        }
    }
}