.side {
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .logo {
        height: 50px;
        box-sizing: border-box;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--border-color-base);
        border-right: 1px solid var(--border-color-base);

        img {
            width: 32px;
            height: 32px;
            margin-right: 12px;
        }
    }
    

    .menu {
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid var(--border-color-base) !important;
    }
}