.side {
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    

    .menu {
        flex: 1;
        overflow-y: auto;
        border-right: 1px solid var(--border-color-base) !important;
    }

    .collapsed {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        color: var(--text-color);
        background: var(--bg-white-color);
    }
}