.footer {
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border-top: 1px solid var(--border-color-base);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background: var(--bg-grey-color);
}