@import './theme/lightTheme.scss';
@import './theme/darkTheme.scss';

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    overflow: auto;
}


/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
} 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #dde6f0;
    border: 2px dashed transparent;
    background-clip: padding-box;
}
